pip~=24.0
attrs~=23.2.0
distro~=1.9.0
wheel~=0.42.0
pyOpenSSL~=23.2.0
cryptography~=41.0.7
pillow~=10.2.0
Jinja2~=3.1.2
Flask~=3.0.2
flask_sqlalchemy
flask_migrate
flask_jwt_extended
flask_restful
passlib

marshmallow
psycopg2-binary>=2.9
python-dotenv==0.21.1


